@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232530;
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 0px 10px 40px #00000056;
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #C43F3F;
}

.form-image img{
    width: 31rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #B89292;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #C43F3F;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.1rem 0;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem
}

.input-box input{
    margin: 0.5rem 0;
    padding: 0.8rem 1.0rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000056;
}

.input-box input::hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #C43F3F;
}

.input-box label{
    font-size: 0.8rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.continue-button button{
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    background-color: #C43F3F;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button input{
    width: 100%;
    border: none;
    background-color: #C43F3F;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button::hover{
    background-color: #c45b5b;
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffff;
}

@media screen and (max-width: 950px){
    .form-image{
        display: none;
    }
    .container{
        width: 50%;
    }
    .form{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

}